
<ng-template #empty>
  <p class="container mt-3 mb-3 display-4 text-center text-danger">No Vacancies Found</p>
</ng-template>

<p class="container mt-3 mb-3 display-3 text-center">List Of Vacancies</p>
<div *ngIf="vacancy else empty" class="row container m-auto">
    <div class="col-4">
      <img src="{{vacancy.avatar}}" height="100" alt="...">
      <div class="list-group" id="list-tab" role="tablist">

        <a routerLink='/post-job' class="list-group-item list-group-item-action ">
          <strong class="text-primary">Post New Vacancy</strong>
        </a>

        <a 
        *ngFor="let j of vacancy.postedJobs; let i = index" 
        class="list-group-item list-group-item-action {{ i===0?'active':''}}" 
        id="list-{{i}}-list" data-toggle="list" href="#list-{{i}}" role="tab" aria-controls="{{i}}">{{j.title}}</a>

      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">


        <div *ngFor="let j of vacancy.postedJobs; let i = index" 
        class="tab-pane fade show {{ i===0?'active':''}}" 
        id="list-{{i}}" role="tabpanel" aria-labelledby="list-{{i}}-list">
            <div class="card p-2 container mt-3">
                <h5 class="card-title">{{j.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{j.role}}</h6>
                <div class="d-flex flex-row ">
                    <img src="{{vacancy.avatar}}" height="100" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{j.description}}</p>
                    </div>
                </div>
            </div>
            
        </div>
        
      </div>
    </div>
  </div>